<html>
<head>
  <title>Survey</title>
  <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
  <link rel="stylesheet" href="/css/survey-style.css">
</head>
<body>

  <%= yield %>
</body>
</html>
