<html>
<head>
  <title>Survey</title>
  <script src="/js/jquery-1.8.0.min.js"></script>
  <script src="/js/jquery-ui-1.8.23.custom.min.js"></script>
  <link rel="stylesheet" href="/css/pepper-grinder/jquery-ui-1.8.23.custom.css" />
  <link rel="stylesheet" href="/css/survey-style.css" />
</head>
<body>
  <%= yield %>
</body>
</html>
