<!-- This page is for a ranking question... -->
<p><%= q[:instructions] %></p>

  <form method="post" action="/step/<%= s %>">
    <div class="">
          <ul id="sortable"><% i = 1 %>
              <% work_fns.each do |fn| %>
                <li id="item_<%= i %>" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= fn[:work_function] %></li>
              <% i = i + 1 ; end %>
            </ul>
    </div>
    <input id="answers" type="hidden" name="arrangement" value="unset">
    <input type="submit"/>
  </form>

<script>
	$(function() {
		$('#sortable').sortable();
    $('#sortable').disableSelection();
    $('#sortable').bind('sortupdate', function(event, ui) {
      $('#answers').attr('value', $('#sortable').sortable('toArray'));
    });
  });
</script>

