<!-- This page is for a single selection or text entry question... -->
  <form method="post" action="/step/<%= s %>">
      <div class="question">
        <p class="instructions"><label for="ac-input"><%= q[:instructions] %></label></p>
        <input class="ui-widget ui-state-default ui-corner-all"
               id="ac-input" name="ac-input" type="text">
      <p>
      <input type="submit" name="Send input" value="Send input"/>
      </p>
      </div>
  </form>

  <script>
    $(function() {
      completions = <%= c %>;
      $('#ac-input').autocomplete({
        source: completions,
        delay: 100
		   });
    });
</script>
