<!-- This page is for a single selection or text entry question... -->
  <form method="post" action="/step/<%= s %>">
      <label for="ac-input"><p><%= q[:instructions] %></label><br>
      <input id="ac-input" name="ac-input" type="text">
      <div>
        <input type="submit"/>
      </div>
  </form>

  <script>
    $(function() {
      completions = <%= c %>;
      $('#ac-input').autocomplete({
        source: completions,
        delay: 100
		   });
    });
</script>
